.settings-button{
    position: absolute;
    z-index: 10050;
    bottom: 25px;
    right: 25px;
    mat-icon{
        transition: transform 250ms ease-in-out;
    }
    &[menuopen="true"]{
        mat-icon{
            transform: rotate(90deg)
        }
    }
}

.menu-wrapper {
    position: absolute;
    z-index: 10040;
    bottom: 25px;
    right: 25px;
    opacity: 0;
    transition: bottom 250ms, opacity 250ms;
    
    .menu-button {
        display: block;
        margin-bottom: 25px;
    }

    &[menuopen="true"]{
        opacity: 1;
        bottom: 80px;
    }
}

.panel {
    position: absolute;
    user-select: none;
}

.edit-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: move;
    z-index: 1000;
}

.panel[edit="true"] .edit-overlay{
    display: block;
}

.edit-corner {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: white;
    &.edit-corner-top-left {
        top: 0px;
        left: 0px;
        cursor: nwse-resize;
    }
    &.edit-corner-top-right {
        top: 0px;
        right: 0px;
        cursor: nesw-resize;
    }
    &.edit-corner-bottom-left {
        bottom: 0px;
        left: 0px;
        cursor: nesw-resize;
    }
    &.edit-corner-bottom-right {
        bottom: 0px;
        right: 0px;
        cursor: nwse-resize;
    }
}